.todo-preview {
    background-color: rgba(245, 222, 179, 0);
    display: flex;
    cursor: pointer;

    .task {
        display: flex;
    }

    &.done-task {
        opacity: 0.25;

        .task {
            text-decoration: line-through;
        }
    }

    .actions {

        >* {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            // position: relative;
            width: 40px;
            height: 40px;
            background-color: #2c313d;
            border: none;
            border-radius: 50%;

            svg {
                color: #edf2f7;
                fill: none;
            }
        }
    }

}